header h1 {
    margin-bottom: 0;
    margin-left: 40px;
    font-size: 28px;
}

header p {
    margin-top: 0;
    margin-left: 40px;
}

header a {
    margin-left: 40px;
    color: blue;
}

header a:hover {
    color: lightsalmon;
}

section {
    margin-left: 40px;
    margin-top: 80px;
}

section p {
    margin-top: 0;
}

section h1 {
    margin-bottom: 0;
    font-size: 34px;
}

section img {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer p {
    margin-left: 40px;
    margin-top: 60px;
    color: grey;
    text-align: center;
}
